<!--Form div-->
<div class="starter-template">              
  <form>
      <div class="form-group row">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Description:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputEmail3" >
        </div>
      </div>
      
      
      <div class="form-group row">
          <label for="inputFax" class="col-sm-2 col-form-label pt-0 line-ht1">Planned Date:</label>
          <div class="col">            
            <input type="text" class="form-control">
          </div>
          <label for="inputFax" class="col-sm-2 col-form-label pt-0 line-ht1">Assigned To:</label>
          <div class="col">              
              <input type="text" class="form-control">
          </div>

          <!-- <label for="inputFax" class="col-sm-2 col-form-label">Planned Date:</label>
          <div class="col-sm-4 col-sm-2col">
              <input type="text" class="form-control" id="inputFax">
          </div>
          <div class="px-3"></div>
          <label for="inputEmail" class="col-sm-1 col-form-label">Assigned to:</label>
          <div class="col-sm-4 col-sm-2col">
              <input type="text" class="form-control" id="inputEmail">
          </div> -->
      </div>

      <div class="form-group row">
          <label for="inputFax" class="col-sm-2 col-form-label pt-0 line-ht1"> Activity Type:</label>
          <div class="col">            
            <input type="text" class="form-control">
          </div>
          <label for="inputFax" class="col-sm-2 col-form-label pt-0 line-ht1">Referred Amount: </label>
          <div class="col">              
              <input type="text" class="form-control">
          </div>
      </div>

      <div class="form-group row">
          <label for="inputFax" class="col-sm-2 col-form-label"> Source:</label>
          <div class="col">            
            <input type="text" class="form-control">
          </div>
          <label for="inputFax" class="col-sm-2 col-form-label">Phone/email: </label>
          <div class="col">              
              <input type="text" class="form-control">
          </div>
      </div>

      <div class="form-group row">
          <label for="inputFax" class="col-sm-2 col-form-label"> Product Type:</label>
          <div class="col">            
            <input type="text" class="form-control">
          </div>
          <label for="inputFax" class="col-sm-2 col-form-label pt-0 line-ht1">Appointment Address: </label>
          <div class="col">              
              <input type="text" class="form-control">
          </div>
      </div>
      
      <div class="form-group row">
        <div class="col-sm-12 text-right"><!-- btn-block-->
          <button type="submit" class="fa fa-play-circle-o btn btn-primary "> Joint Appointment</button>
          <button type="button" class="fa fa-play-circle-o btn btn-secondary" disabled> Select Phone/Email</button>
          <button type="button" class="fa fa-play-circle-o btn btn-secondary" disabled> Select Address</button>
          <button type="submit" class="fa fa-play-circle-o btn btn-primary"> AssignTo</button>
        </div>
      </div>
    </form>
</div>
<!-- End Form div-->