<nav class="navbar navbar-expand navbar-dark bg-black fixed-top">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Maybank Workspace (Home)</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://medium.com/@beeman"><i class="fa fa-medium" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://twitter.com/@beeman_nl"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/beeman"><i class="fa fa-github" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>


<nav class="navbar navbar-expand navbar-dark bg-black fixed-top sub-header">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">CARE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">RLTS</a>
          </li>
      </ul>
    </div>
  </nav>

